<h1>教師詳細ページ</h1>
<p>名前:<%= @user.name %></p>
<p>学歴:<%= @teacher.university_name %></p>
<p>希望授業料:<%= @teacher.fee %></p>
<p>性別:<%= @teacher.sex %></p>
<p>郵便番号:<%= @teacher.post_number %></p>
<p>担当科目:</p>
<p>自己ＰＲ:<%= @teacher.appeal %></p>



<!-- 評価を表示 -->
<div class="">
  <!-- style = "width: <% @average_100 %>%" -->
  <p><b>評価</b><%= @average.round(1) %>/5.0<div class = "star-rating-box"><span style="width:<%= @average_100 %>%" class="star-rating-css-top"></span></div></p>
</div>



<div class="">


<!-- ユーザーが生徒なら評価フォームを表示 -->
<% if current_user.status == "student" %>
  <%= form_for @new_review do |f| %>
    <span class="star-rating">
      <%= f.radio_button :review, value="1" %><i></i>
      <%= f.radio_button :review, value="2" %><i></i>
      <%= f.radio_button :review, value="3" %><i></i>
      <%= f.radio_button :review, value="4" %><i></i>
      <%= f.radio_button :review, value="5" %><i></i>
    </span>

    <div class="field">
      <%= f.text_area :content, placeholder: "コメント欄" %>
    </div>
    <%= f.submit "POST", class: "btn btn-large btn-primary" %>
  <% end %>

  <%= link_to "リクエストする", new_match_path %>


  <% end %>


  <h2>コメント</h2>
  <% @reviews.each do |review| %>
     <p><%= review.content %></p>
  <% end %>

</div>


<!-- ログインしているユーザーと一致すれば編集リンクを表示 -->
<% if @teacher.user_id == current_user.id %>
<%= link_to "Edit My Page", edit_teacher_path(current_user) %>



<h3>届いているリクエスト</h3>
<% @matches.each do |match| %>
  <p><%= link_to User.find(match.student_id).name, edit_match_path(match.id) %>
     <%= link_to "非承認",  match_path(match.id), method: :delete %>
  </p>

<% end %>






<% end %>
