<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Teacher", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", 'users_path' %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
        <% if current_user.status == "student" %>
          <% if !Student.exists?(user_id: current_user.id) %>

              <li><%= link_to "My Page", new_student_path %></li>

          <% else %>
              <li><%= link_to "My Page", edit_student_path(current_user) %></li>

          <% end %>

          <% elsif current_user.status == "teacher" %>
          <% if !Teacher.exists?(user_id: current_user.id) %>
              <li><%= link_to "My Page", new_teacher_path %></li>

          <% else %>
              <li><%= link_to "My Page", edit_teacher_path(current_user) %></li>
          <% end %>

          <% else %>

        <% end %>

              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
